* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Inter', sans-serif;
}
.section-heading {
    font-size: 2rem;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: capitalize;
}
a {
    text-decoration: none;
    display: inline-block;
}
.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}
input[type='number'].sign-up::-webkit-inner-spin-button,
input[type='number'].sign-up::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.gap-5 {
    gap: 5px !important;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}
.gap-30 {
    gap: 30px;
}
.button {
    background-color: var(--color-232f3e);
    color: white;
    font-size: 1rem;
    padding: 13px 33px;
    border-radius: 25px;
}
.button:hover {
    background-color: var(--color-febd69);
    color: var(--color-131921);
}
.input-err {
    font-size: 1.1rem;
}

/* Header */

.header-top {
    border-bottom: 1px solid var(--color-3b4149);
    background-color: var(--color-131921);
}
.header-upper {
    background-color: var(--color-131921);
}
.header-upper .header-upper-text:hover {
    color: var(--color-febd69);
}
.header-upper .input-group-text {
    background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
    width: 35px;
    height: 35px;
}
.header-bottom {
    background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
    color: white;
    font-size: 1.2rem;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
}
.header-bottom .menu-links a.active {
    font-weight: 500;
    color: var(--color-febd69);
}
.header-bottom .dropdown button::before {
    content: url('../public/images/menu.svg');
}
.header-bottom .dropdown button:focus {
    box-shadow: none;
}
.header-bottom .dropdown-menu {
    background-color: var(--color-131921);
    width: 100%;
    transform: translate3d(0px, 52px, 0px) !important;
}
.header-bottom .dropdown-item {
    padding: 20px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
    background-color: transparent;
    color: var(--color-febd69) !important;
}
.header-icon {
    font-size: 3.5rem;
}
.cart-icon {
    color: var(--color-febd69);
}
.nav-button {
    width: 28px;
    height: 28px;
    color: var(--color-f5f5f7);
    display: none;
}
.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
.menu-mobile-links {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    background-color: #ffffff;
    transition: transform linear 0.2s;
    z-index: 1;
}
.nav-list {
    margin-top: 30px;
    padding-left: 0;
    list-style-type: none;
}
.nav-item {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    color: #333;
    font-size: 1.4rem;
}
.nav-item:hover {
    color: var(--color-f5f5f7);
    background-color: var(--color-febd69);
}
.nav-close {
    width: 28px;
    height: 28px;
    position: absolute;
    color: var(--color-777777);
    top: 1rem;
    right: 1rem;
}
/* End Heaer */

/* Login Page */

.auth-card {
    padding: 20px;
    background-color: white;
    width: 500px;
    margin: 30px auto;
}
.auth-card h3 {
    /* font-size: 19px; */
    font-weight: 500;
    color: var(--color-777777);
}
.auth-card .form-control {
    height: 50px;
    background-color: var(--color-f5f5f7);
    color: var(--color-777777);
    /* font-size: 14px; */
    border-radius: 10px;
    border-color: transparent;
}
.auth-card a {
    /* font-size: 14px; */
    font-weight: 400;
}
.auth-card p {
    /* font-size: 13px; */
    color: var(--color-777777);
}

/* End Login Page */

/* Home Page */

.main-banner-content {
    top: 15%;
    left: 5%;
}
.main-banner-content h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.main-banner-content h5 {
    font-size: 4rem;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}
.main-banner-content p {
    font-size: 1.4rem;
    line-height: 28px;
    letter-spacing: 0.4;
    color: var(--color-131921);
}

.small-banner-content {
    top: 25%;
    left: 10%;
}
.small-banner-content h4 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.small-banner-content h5 {
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}
.small-banner-content p {
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0.4;
    color: var(--color-131921);
}
.small-banner {
    width: 49%;
}

.mobile-banner {
    display: none;
}

.home-wrapper-2 {
    background-color: var(--color-f5f5f7);
}
.services h6 {
    font-size: 1.4rem;
}
.services p {
    font-size: 1.2rem;
}
.categories {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
}
.categories h6 {
    font-size: 1.4rem;
}
.categories p {
    font-size: 1.2rem;
}
.categories > div {
    width: 25%;
    padding: 10px 10px 10px 20px;
}
.categories > div > div {
    width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
    border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
    border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
    border-right: 1px solid var(--color-ededed);
}
.card-wrapper {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
}
.breadcrumb h2 {
    font-size: 1.4rem;
}
.blog-card {
    background-color: white;
    border-radius: 10px;
}
.blog-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog-content {
    padding: 15px;
}
.blog-content p.date {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-777777);
}
.blog-content h5 {
    font-size: 18px;
    color: var(--color-131921);
}
.blog-content p.desc {
    font-size: 13px;
    line-height: 22px;
    color: var(--color-777777);
}

.product-card {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.product-card:hover .action-bar {
    right: 14px;
}
.product-card .product-details h6 {
    color: var(--color-bf4800);
    /* font-size: 13px; */
}
.product-card .product-details h5 {
    /* font-size: 15px; */
    color: var(--color-1c1c1b);
}
.product-card p.description {
    /* font-size: 13px; */
    color: var(--color-777777);
    margin-right: 20px;
}
.product-card .product-details p.price {
    color: var(--color-1c1c1b);
    /* font-size: 16px; */
}
.special-product-content h5 {
    font-size: 1.2rem;
}
.special-product-content h6 {
    font-size: 1.4rem;
}
.action-bar {
    top: 11%;
    right: -30px;
    transition: 0.3s;
}
.col-4 .action-bar {
    top: 9%;
    right: -30px;
    transition: 0.3s;
}
.col-6 .action-bar {
    top: 9%;
    right: -30px;
    transition: 0.3s;
}
.col-12 .action-bar {
    top: 15%;
    right: -30px;
    transition: 0.3s;
}
.col-6 .product-card img {
    display: block;
    margin: 0 auto;
}
.col-12 .product-card {
    display: flex;
    gap: 10px;
}
.col-12 .product-card .product-image {
    width: 100%;
    height: auto;
}
.wishlist-icon {
    top: 2%;
    right: 14px;
}
.prod-icon {
    font-size: 1.8rem;
    color: var(--color-1c1c1b);
}
.heart-icon:hover {
    color: pink;
}
.special-product-card {
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
}

.filter-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 25px;
}
.filter-card .filter-title {
    /* font-size: 16px; */
    line-height: 20px;
    font-weight: 700;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
}
.filter-card ul,
filter-card .form-check-label {
    list-style-type: none;
    /* font-size: 13px; */
    line-height: 30px;
    color: #777777;
    cursor: pointer;
}
.filter-card .form-check-input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
}
.filter-card .sub-title {
    /* font-size: 14px; */
    font-weight: 700;
    color: var(--color-1c1c1b);
    margin-bottom: 15px;
    margin-top: 20px;
}
.filter-card .form-check-input:hover,
.filter-card .form-check-label:hover {
    cursor: pointer;
}
.colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.colors li {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
.random-products h5 {
    /* font-size: 14px; */
    margin-bottom: 8px;
}
.random-products:first-child {
    border-bottom: 1px solid var(--color-ededed);
}
.filter-sort-grid {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.grid img {
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 8px;
}
.grid img:hover {
    cursor: pointer;
}

/* End Home Page */

/* Wish List Page */

.wishlist-card .cross {
    top: 15px;
    right: 15px;
    width: 20px;
    padding: 3px;
    cursor: pointer;
}
.wishlist-card h5.title {
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: 500;
    color: var(--color-1c1c1b);
}
.wishlist-card h6.price {
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: 400;
}

/* End Wish List Page */

/* Contact Page */

.contact-content {
    padding: 20px;
    border-radius: 15px;
    background: white;
    gap: 15px;
}
.contact-content > div {
    width: 48%;
}
.contact-title {
    font-weight: 500;
    line-height: 30px;
    margin-top: 0;
}
.contact-content form .form-control {
    background: var(--color-f5f5f7);
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
}
.contact-content ul {
    list-style-type: none;
}
.contact-content address,
.contact-content a,
.contact-content p {
    color: var(--color-777777);
}

/* End Contact Page */

/* Product Page */

.product-images {
    background-color: white;
    border-radius: 10px;
    padding: 10px 0px;
}
.main-product-image {
    padding: 30px;
    border-radius: 10px;
}
.main-product-image > div {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.main-product-image img {
    width: 100% !important;
    object-fit: cover;
    border-radius: 10px;
}
.main-product-image .js-image-zoom__zoomed-image {
    background: white;
    border-radius: 10px;
    z-index: 1000;
    width: 100% !important;
    height: 100% !important;
}
.other-product-image {
    border-radius: 10px;
}
.other-product-image > div {
    width: 22%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.other-product-image > div:first-child {
    margin-left: 10px;
}
.main-product-details {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.main-product-details h3.title {
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 10px;
}
.main-product-details p.price {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-1c1c1b);
}
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review-btn,
.text-review {
    font-size: 1.1rem;
    color: var(--color-777777);
}
.product-label {
    font-size: 1.3rem;
    color: var(--color-1c1c1b);
    margin-bottom: 0px;
}
.product-data {
    font-size: 1.1rem;
    color: var(--color-777777);
    margin-bottom: 0px;
}
.description-wrapper h3,
.review-wrapper h3 {
    color: var(--color-1c1c1b);
}
.description-wrapper p {
    color: var(--color-777777);
}
.review-content {
    background: white;
    padding: 30px;
}
.review-head {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review-head h4 {
    color: var(--color-1c1c1b);
}
.review-head p,
.review-head a {
    color: var(--color-777777);
}
.review-form h4 {
    color: var(--color-777777);
}
.review-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.reviews p {
    color: var(--color-777777);
}
/* End Product Page */

/* Cart Page */
.cart-head,
.cart-data {
    border-bottom: 1px solid #eaeaea;
}
.cart-head h4 {
    font-size: 1.2rem;
    color: var(--color-777777);
}
.cart-col-1 {
    width: 40%;
}
.cart-col-2 {
    width: 10%;
}
.cart-col-3 {
    width: 15%;
}
.cart-col-4 {
    width: 15%;
}
.cart-col-1 p {
    font-size: 1.1rem;
    color: var(--color-777777);
}
.cart-col-1 h5.price {
    font-size: 1.2rem;
    color: var(--color-1c1c1b);
}

/* End Cart Page */

/* Check Out Page */

.ck-link {
    color: var(--color-777777);
}
.ck-link:hover {
    color: #febd69;
}
.total-price {
    font-size: 1.6rem;
    color: var(--color-1c1c1b);
}

/* End Check Out Page */

/* Order Page */

.table-title {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--color-f5f5f7);
    background-color: var(--color-232f3e);
}
.table-data {
    background-color: var(--color-febd69);
}
.table-data p.order-data {
    padding: 10px 0;
    margin-bottom: 0;
}
.table-prod {
    background-color: white;
}

/* End Order Page */

/* Footer */

footer {
    background-color: var(--color-232f3e);
}
footer:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
    background-color: var(--color-232f3e);
    color: white;
    padding: 8px 17px;
}
.footer-mobile {
    display: none;
}

/* End Footer */

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .header-upper-text {
        display: none;
    }
    .secondary-banner {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .nav-button {
        display: block;
    }
    .menu-bottom {
        justify-content: space-between;
    }
    .menu-links {
        display: none;
    }
    .footer-top {
        display: none;
    }
    .footer-pc {
        display: none;
    }
    .footer-mobile {
        display: block;
    }
}
